  
 .card -img,card -img-top{

width: 100%;

 } 
  
 .containerCard {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
 
     }


  .card-body{
    width:100vh;
    
    font-size: medium;
  }
  
  .card-title{
    color: #4B7F55;
  }

  .button{
    color: #4B7F55;
    width:100% ;

  }