

.navForm {
    background-color: #4B7F55;
    height: 11.2em;
    margin-top:5%;
    margin-bottom: 5%;
    padding-top: 2em;
    color:white;
}

.formRegister { 
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items:center;
    margin-left: 3em;
    
    
    
}
.mb-3{
    width:100%
}
.shoppingcart {
    width: 36em;
    height:25em;
    background-color: #FBF1E3;
    padding-top: 2.8em;
    padding-left: 3.6em;
    margin-left: 10em;
    margin-bottom: 3em;
   
    }

.reservabtn {
    width: 11.2em;
    height: 2.5em;
    border-radius: 1.37em;
    border: #4B7F55;
    background-color: #4B7F55;
    color: white;
}

.checkbox {
    list-style: none;
    font-style: italic;
}