

.headshot {
	flex-shrink: 0;
	margin: 20px;
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.foto{
	height:70vh;
	border-radius: 5%;
	background-image:linear-gradient(#99ccff, #4B7F55);
}



.container-paginasexperiences{ 
    background-image: linear-gradient( #009933, #5edce0);

    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}